html, body
{
	margin: 0;
	padding: 0;
	font-size: 16px;
 	height: 100%;
}
html, body, button, a
{
	font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","WenQuanYi Micro Hei",sans-serif!important;
 	-webkit-font-smoothing: antialiased;
}
*, :after, :before
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.container
{
	width: 970px;
	margin: 0 auto;
}
.tbc
{
	display: table-cell;
}
.-h1
{
	font-size: 80px;
}
.-h2
{
	font-size: 40px;
}
.btn
{
	cursor: pointer;
}
@media (max-width: 1000px) {
	.container
	{
		width: auto;
	}
	.-h1
	{
		font-size: 40px;
	}
	.-h2
	{
		font-size: 20px;
	}
}

/*********
* translation
**********/
.-trans-block
{
	display: block;
	background-color: #fff;
}
.-trans-bt
{
	position: absolute;
	left: 0;
	width: 100%;
	text-align: center;
	bottom: 0;
	font-size: 60px;
	line-height: 1.5;
	background: rgba(255,255,255,.2);
	cursor: pointer;
	-webkit-transition: all ease-in-out 200ms;
	-o-transition: all ease-in-out 200ms;
	transition: all ease-in-out 200ms;
}
.-trans-bt:hover
{
	background: rgba(255,255,255,.3);
}

/*********
* header
**********/
.header
{
	height: 65px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
}
.header .logo
{
	height: 40px;
	width: 140px;
	float: left;
	background: url(../../images/sample1/logo.png);
	cursor: pointer;
	margin: 15px 0 0 15px;
}
.header .menu
{
	float: right;
}
.header .menu .menu-item
{
	float: left;
	list-style: none;
	margin-top: 10px;
}
.header .menu .menu-item a
{
	color: #fbfbfb;
	font-size: 1em;
	text-decoration: none;
	padding: 15px;
	margin: 0 2px;
	border-bottom: 1px solid transparent;
	-webkit-transition: all ease-in-out 200ms;
	-o-transition: all ease-in-out 200ms;
	transition: all ease-in-out 200ms;
}
.header .menu .-s-size
{
	display: none;
	color: #fdfdfd;
	cursor: pointer;
}
.header .menu .menu-bt
{
	font-size: 32px;
	margin: 12px;
}
.header .menu .menu-item a:hover
{
	border-bottom: 1px solid #fff;
}
.header .menu .menu-item.login a
{
	border: rgba(255,255,255,.3) solid 1px;
	-webkit-border-radius: 2.5px;
	border-radius: 2.5px;
	margin: 0 2px 0 5px;
	padding: 8px 15px;
}
.header .menu .menu-item.login a:hover
{
	border-color: rgba(255,255,255,1);
}
.header .menu .menu-list
{
	position: absolute;
	width: 100%;
	top: 65px;
	left: 0;
	background: rgba(0,0,0,.2);
}
.header .menu .menu-list div
{
	padding: 10px;
	text-align: center;
}
.header .menu .menu-list div:hover
{
	background: rgba(0,0,0,.2);	
}
@media (max-width: 700px) {
	.header .menu ul
	{
		display: none;
	}
	.header .menu .-s-size
	{
		display: block;
	}
}

/*********
* banner
**********/
.banner
{
	width: 100%;
	height: 100%;
}
.parallax
{
	position: fixed;
	z-index: -1;
}
.parallax-img
{
	position: relative;
	width: 100%;
	height: 100%;
}
.parallax-img:before
{
	background-position-x: center;
	position: absolute;
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	-webkit-background-size: cover;
	background-size: cover;
	background-image: url(../../images/sample1/4f0eb225.mountain.jpg);
}

/*********
* top
**********/
.top
{
	position: relative;
	display: table !important;
	table-layout: fixed;
	color: #fbfbfb;
}
.top.-trans-block
{
	background-color: transparent;
}
.top .tbc
{
	/*height: 300px;*/
	width: 100%;
	padding: 0;
	border: 0;
	vertical-align: middle;
	text-align: center;
}
.top .login
{
	margin-top: 50px;
}
.top .login-input
{
	width: 250px;
	margin-right: 5px;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.top .login-input:focus
{
	border-color: #66afe9;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
.top .submit
{
	width: 80px;
	border-color: #2e6da4;
	color: #fff;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: -webkit-linear-gradient(top,#1984FA,#0068F9);
	background: -o-linear-gradient(top,#1984FA,#0068F9);
}
.top .submit:hover
{
	background: -webkit-linear-gradient(top,#0074F9,#0059F8);
	background: -o-linear-gradient(top,#0074F9,#0059F8);
}
.top .-h1,
.top .-h2
{
	font-family: SiYuan-ExtraLight,Lato,"Helvetica Neue",Arial,Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;
	font-weight: 100;
	line-height: 1.5em;
}
@media (max-width: 500px) {
	.top .login-input,
	.top .submit
	{
		width: 90%;
		margin-top: 20px;
	}
}

/*********
* 2 content
**********/
.-content-2
{
	color: #434a54;
	text-align: center;
}
.-content-2 .-h2
{
	padding: 80px 0 20px 0;
}
.container-2c
{
	float: left;
	width: 25%;
	padding: 0 30px;
}
.container-2c .iconfont
{
	font-size: 80px;
	margin: 60px 0 30px 0;
}
.container-2c .title
{
	font-weight: bold;
	margin-bottom: 10px;
}
@media (max-width: 1000px) {
	.container-2c
	{
		width: 50%;
	}
}
@media (max-width: 600px) {
	.container-2c
	{
		width: 100%;
	}
}

/*********
* font
**********/
@font-face {
	font-family: 'SiYuan-ExtraLight';
	src: url(fonts/SiYuan-ExtraLight.eot);
	src: url(fonts/SiYuan-ExtraLight.eot?#iefix) format('embedded-opentype'),
		url(fonts/SiYuan-ExtraLight.woff) format('woff'),
		url(fonts/SiYuan-ExtraLight.ttf) format('truetype'),
		url(fonts/SiYuan-ExtraLight.svg#SiYuan-ExtraLight) format('svg');
}

@font-face {
	font-family: "iconfont";
	src: url(fonts/iconfont.eot);
	src: url(fonts/iconfont.eot?#iefix) format('embedded-opentype'),
		url(fonts/iconfont.woff) format('woff'),
		url(fonts/iconfont.ttf) format('truetype'),
		url(fonts/iconfont.svg#iconfont) format('svg');
}

.iconfont
{
	font-family:"iconfont" !important;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}
.icon-down:before { content: "\e600"; }
.icon-up:before { content: "\e601"; }
.icon-list:before { content: "\e602"; }
.icon-contacts:before { content: "\e603"; }
.icon-cloud:before { content: "\e604"; }
.icon-safe:before { content: "\e605"; }
.icon-message:before { content: "\e606"; }
